.loader-div{
    width:50px;
    height:50px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .loader  {
    animation: rotate 1s infinite;  
    height: 50px;
    width: 50px;
  }
  
  .loader:before,
  .loader:after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;  
    background-color: #c93b40;
    box-shadow: 30px 0 0 #fcbe4c;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite; 
    background-color: #18ada3;
    box-shadow: 30px 0 0 #a9ce24;
  }
  
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #fcbe4c;
    }
    50% {
      box-shadow: 0 0 0 #fcbe4c;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fcbe4c;
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #a9ce24;
    }
    50% {
      box-shadow: 0 0 0 #a9ce24;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #a9ce24;
      margin-top: 0;
    }
  }

 /* ---------------Loading css 2---------------- */

  #wrapper{
    margin-top:40px;
  }
  
  .path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    animation: dash 5s linear  infinite;
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 2000;
    }
    90% {
      stroke-dashoffset: 0;
    }
  }
  
  .path2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash2 5s linear  infinite;
  }
  
  @keyframes dash2 {
    60% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }


  /* -------hover--------- */
#Card1{
  position: relative;
}
#Card1 > p{
  font: normal normal normal 35px/40px GmarketSansMedium;
  text-align:left;
  padding:20px;
  color:rgba(0, 0, 0, 0);
  position: absolute;
  top:0;
}

#Card1:hover >div{
  transition: all .1s ease-in-out;
  opacity: 0.3;
}
#Card1:hover >p{
  transition: all .1s ease-in;
  color:black;
}
/* #Card1:nth-child(2):hover >div{
  height:250px;
  transition: all .1s ease-in-out;
  opacity: 0.5;
}
#Card1:nth-child(3):hover >div{
  height:250px;
  transition: all .1s ease-in-out;
  opacity: 0.5;
} */

