.App {
  text-align: center;
  background-color: #f7f7f7;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

html {
  font-size: 19.20px;
}

div {
  box-sizing: border-box;
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.2) !important;
}